@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0;
  text-align: center;
}

header{
  flex-basis: 6%;
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #BC13FE;
}

.menu-bar{
  border-radius: 25px;
  height: fit-content;
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  margin: 10px 0 0 0;
}

.opcio-menu{
  list-style: none;
  font-family: sans-serif;
  font-weight: bold;
  padding: 12px 16px;
  margin: 0 8px;
  position: relative;
  cursor: pointer;
  white-space: nowrap;
}

main{
  flex-basis: 92%;
  display: flex;
}

.container {
  width:100%;
  height:907px;
  background: #2c302d;
  color: #FFFFFF;
}

.carta{
  padding: 10px;
  color: #FFFFFF;
  background: #242625;
}


.card__container {
  display: flex;
  width:70%;
  height:100%;
  align-items: center;
  color: white;
}

.card {
  position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
  width: 30%;
  height: 80%;
  text-align: center;
  max-height: 300px;
  background: #242625;
  box-shadow: 25px 25px 50px #1b1c1b, -25px -25px 50px #2d302f;
}

.card__content {
  width: 80%;
  height: 85%;
  background: #191a19;
  margin: 10px auto;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  box-shadow:  16px 16px 44px #0a0a0a, 
           -16px -16px 44px #282a28;
  transition: 0.3s all ease-in-out;
  vertical-align: middle;
}

.card__content:hover{
  margin-top:-13px;
}

.card__header {
  text-transform: uppercase;
  font-size: 20px;
  margin: 20px auto;
}

.card__button {
  padding: 10px;
  border-radius: 50px;
  background: #1f75c4;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin: 50px auto;
}

.card__button2 {
  padding: 10px;
  border-radius: 50px;
  background: #ff0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.distancia{
  padding: 25px;
}

.caja{
  position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    margin: auto;
  width: 30%;
  height: 70%;
  background: #191a19;
  color: #FFFFFF;
  padding: 10px;
}

a, a:active, a:visited{
  color: whitesmoke;
  text-decoration : inherit;
}

.modal {
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border: 1px solid #0a0a0a;
  background-color: #282a28;
  color: #FFFFFF;
  overflow: auto;
  position: fixed;
  text-align: center;
}

.modal_header{
  padding: 5px;
  border: 1px  solid  #888;
}
.modal_body{
  padding: 5px;
  border: 1px  solid  #888;
}

.close{
  position: absolute;
  right: 2px;
  top: 2px;
  padding: 1px;
  border-radius: 50px;
  background: #ff0000;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

footer{
  flex-basis: 2%;
  display: flex;
  justify-content: center;
  background: #BC13FE;
  color: #ffffff;
}